*{
    margin: 0;
    padding: 0;
}

.menu-list {
    border-top: 2px solid #AE7C78;
    border-bottom: 2px solid #AE7C78;
}

.btn {
    background-color: #D89999;
    border-radius: 40px;
    padding: 30px 70px 30px 70px;
    width: 131px;

}
.content_authors-bouquet p{
    margin-bottom: 50px;
}


    
